---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.svelte";
import Header from "$lib/Header.svelte";
import MainLayout from "layouts/MainLayout.astro";
import PostCard from "$components/PostCard.svelte";

const projects = (await getCollection("projects")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<MainLayout description="Ethan Olsen Projects." title="Projects">
	<Header />
	<section class="max-w-screen-lg mx-auto px-4 pt-12">
		<ul class="grid grid-cols-1 md:grid-cols-2 gap-8">
			{
				projects.map((project, i) => (
					<PostCard
						client:load
						title={project.data.title}
						href={`/project/${project.slug}`}
						image={project.data.heroImage}
						pubDate={project.data.pubDate}
						isFull={i === 0}
					/>
				))
			}
		</ul>
	</section>
</MainLayout>
