---
import { getCollection } from "astro:content";
import Header from "$lib/Header.svelte";
import MainLayout from "layouts/MainLayout.astro";
import PostCard from "$components/PostCard.svelte";

const blogs = (await getCollection("blogs")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<MainLayout description="Ethan Olsen Blogs." title="Blogs">
	<Header client:load />
	<section class="max-w-screen-lg mx-auto px-4 pt-12">
		<div class="w-full pb-2 mb-6 flex flex-col-reverse">
			<div
				class="w-full h-1 rainbow relative after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-gradient-to-r after:from-black after:via-black/0 after:to-black"
			>
			</div>
			<h1
				class="text-center mx-auto text-6xl md:text-9xl w-full -mb-2 md:-mb-4 relative"
			>
				Blogs
			</h1>
		</div>
		<ul class="grid grid-cols-1 md:grid-cols-2 gap-8">
			{
				blogs.map((blog, i) => (
					<PostCard
						client:load
						title={blog.data.title}
						href={`/blog/${blog.slug}`}
						image={blog.data.heroImage}
						pubDate={blog.data.pubDate}
						isFull={i === 0}
					/>
				))
			}
		</ul>
	</section>
</MainLayout>
