/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rainbow {
	0% {
		background-position: 0% 0%, 0% 50%;
	}
	50% {
		background-position: 0% 0%, 100% 50%;
	}
	100% {
		background-position: 0% 0%, 0% 50%;
	}
}

html,
body {
	@apply h-full w-full scroll-smooth bg-black;
}
body[data-href="/desktop"] {
	@apply overflow-hidden bg-transparent;
}
body:not([data-href="/desktop"]) {
	@apply overflow-x-hidden;
}

html {
	/* background-image: url('https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&q=80');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed; */
	@apply text-white;
}
html {
	--rainbow-gradient: linear-gradient(
		90deg,
		#fb5b58 0%,
		#ff3d74 14.58%,
		#f92195 25.52%,
		#e322bc 37.5%,
		#b55ee6 51.56%,
		#7680fc 64.06%,
		#0096ff 76.04%,
		#00d0f2 87.5%,
		#00e3b8 100%
	);
}
.rainbow {
	background-image: url(/noise-light-full.png), var(--rainbow-gradient);
	background-size: 200px 200px, 200vw 200vh;
	background-attachment: fixed, fixed;

	animation: rainbow 10s ease infinite;
}
