---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import MainLayout from "../layouts/MainLayout.astro";
import HomePage from "../islands/home/HomePage.svelte";
import { getCollection } from "astro:content";
import PostCard from "$components/PostCard.svelte";

const projects = await getCollection("projects");
---

<MainLayout
	description={`Home page for Ethan Olsen's personal website.`}
	title="Home"
>
	<HomePage client:load>
		<div
			slot="projects"
			class="prose prose-invert mx-auto w-full max-w-4xl px-4 prose-p:m-0 prose-a:no-underline"
		>
			<h2 id="projects" class="mb-10 text-5xl md:mb-4">Projects</h2>
			<div
				class="grid w-full grid-cols-1 gap-px sm:grid-cols-2 md:grid-cols-3 place-items-start"
			>
				{
					projects?.map((project) => (
						<PostCard
							client:load
							title={project.data.title}
							href={`/project/${project.slug}`}
							image={project.data.heroImage}
							pubDate={project.data.pubDate}
						/>
					))
				}
			</div>
		</div>
	</HomePage>
</MainLayout>
