---
import MainLayout from "$layouts/MainLayout.astro";
import Header from "$lib/Header/Header.svelte";
import SphereVisualizer from "$lib/SphereVisualizer/SphereVisualizer.astro";
---

<MainLayout description={`Music Sphere Visualizer`} title="Music" hideFooter>
	<div class="fixed top-0 left-0 w-full z-50">
		<Header client:load />
	</div>

	<SphereVisualizer client:load />
</MainLayout>
