---
import CursorCircle from "$components/CursorCircle.svelte";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../lib/Footer.svelte";

type Props = {
	title: string;
	description: string;
	hideFooter?: boolean;
	hideCursorCircle?: boolean;
};

const { title, description, hideFooter, hideCursorCircle } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="overflow-x-hidden">
		{!hideCursorCircle && <CursorCircle client:load />}
		<main class="w-full min-h-full">
			<slot />
		</main>
		{!hideFooter && <Footer client:load />}
	</body>
</html>
